<!-- Aulia Pradina, 1IA26, 50421237 -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS Bootstrap -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />

        <!-- My CSS -->
        <link rel="stylesheet" href="../assets/css/style.css" />
        <title>Jenis-Jenis Koloid</title>
    </head>
    <body>
        <!-- Background Color -->
        <div class="bg-color">
            <div class="container">
                <!-- Jenis-Jenis Koloid -->
                <div class="row row-cols-auto">
                    <img
                        class="col icon-size"
                        src="../assets/img/icon/clouds.png"
                    />
                    <div class="col title-big">Jenis-Jenis Koloid</div>
                </div>
                <br />
                <!-- Table Jenis-Jenis Koloid -->
                <table
                    class="table table-hover table-bordered table-responsive"
                >
                    <thead>
                        <tr>
                            <th scope="col">Jenis Koloid</th>
                            <th scope="col">Penjelasan</th>
                            <th scope="col">Contoh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">Sol</td>
                            <td>
                                Terbentuk dari <b>Fase Terdispersi</b> berupa
                                <b>padatan</b>, <br />dan
                                <b>Fase Pendispersinya</b> berupa <b>cairan</b>
                            </td>
                            <td>Sol Emas, Tinta, Pasta Gigi dan Cat Tembok</td>
                        </tr>
                        <tr>
                            <td class="text-center">Sol Padat</td>
                            <td>
                                Terbentuk dari <b>Fase Terdispersi</b> berupa
                                <b>padatan</b>, <br />dan
                                <b>Fase Pendispersinya</b> berupa <b>padatan</b>
                            </td>
                            <td>
                                Gelas berwarna, Intan Hitam dan Paduan Logam
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Emulsi</td>
                            <td>
                                Terbentuk dari <b>Fase Terdispersi</b> berupa
                                <b>cairan</b>, <br />dan
                                <b>Fase Pendispersinya</b> berupa <b>cairan</b>
                            </td>
                            <td>Susu, Santan, Minyak Ikan dan Mayones</td>
                        </tr>
                        <tr>
                            <td class="text-center">Emulsi Padat (Gel)</td>
                            <td>
                                Terbentuk dari <b>Fase Terdispersi</b> berupa
                                <b>cairan</b>, <br />dan
                                <b>Fase Pendispersinya</b> berupa <b>padatan</b>
                            </td>
                            <td>Jelly, Mutiara, Keju dan Mentega</td>
                        </tr>
                        <tr>
                            <td class="text-center">Aerosol Padat</td>
                            <td>
                                Terbentuk dari <b>Fase Terdispersi</b> berupa
                                <b>padatan</b>, <br />dan
                                <b>Fase Pendispersinya</b> berupa <b>gas</b>
                            </td>
                            <td>Asap dan Debu</td>
                        </tr>
                        <tr>
                            <td class="text-center">Aerosol Cair</td>
                            <td>
                                Terbentuk dari <b>Fase Terdispersi</b> berupa
                                <b>cairan</b>, <br />dan
                                <b>Fase Pendispersinya</b> berupa <b>gas</b>
                            </td>
                            <td>Kabut, Awan, Minyak Wangi dan Hair Spray</td>
                        </tr>
                        <tr>
                            <td class="text-center">Buih</td>
                            <td>
                                Terbentuk dari <b>Fase Terdispersi</b> berupa
                                <b>gas</b>, <br />dan
                                <b>Fase Pendispersinya</b> berupa <b>cairan</b>
                            </td>
                            <td>Sabun, Krim Kocok dan Detergen</td>
                        </tr>
                        <tr>
                            <td class="text-center">Buih Padat</td>
                            <td>
                                Terbentuk dari <b>Fase Terdispersi</b> berupa
                                <b>gas</b>, <br />dan
                                <b>Fase Pendispersinya</b> berupa <b>padatan</b>
                            </td>
                            <td>Karet Busa dan Batu Apung</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Navigation Button -->
                <div class="container mt-4">
                    <!-- ke halaman Pengertian Koloid -->
                    <a
                        class="btn btn-primary"
                        href="../views/pengertian-ciri.html"
                        style="margin-right: 10px"
                        role="button"
                    >
                        < Pengertian & Ciri-Ciri Koloid
                    </a>
                    <!-- Dekorasi Gambar: Pasta Gigi -->
                    <img
                        src="../assets/img/icon/toothpaste.png"
                        style="height: 90px"
                    />
                    <!-- ke halaman Sifat-Sifat Koloid -->
                    <a
                        class="btn btn-primary mt-4 float-end"
                        href="../views/sifat-manfaat.html"
                        style="margin-right: 10px"
                        role="button"
                    >
                        Sifat-Sifat & Manfaat Koloid >
                    </a>
                    <!-- Dekorasi Gambar: Sabun -->
                    <img
                        src="../assets/img/icon/soap.png"
                        style="height: 90px; margin-right: 20px"
                        class="float-end"
                    />
                </div>
                <!-- Kembali ke Beranda -->
                <div class="container text-center">
                    <a
                        class="btn btn-primary"
                        href="../../index.html"
                        style="margin-right: 10px"
                        role="button"
                    >
                        <img
                            src="../assets/img/icon/home (1).png"
                            style="height: 40px"
                        />
                    </a>
                </div>
            </div>
            <br />
        </div>
        <!-- Sumber -->
        <div
            class="btn btn-primary mt-3"
            data-bs-toggle="collapse"
            data-bs-target="#collapseWidthExample3"
            aria-controls="collapseWidthExample3"
            style="font-weight: 300; margin-left: 30px; cursor: default"
        >
            Sumber
        </div>
        <div style="color: #534d4d; margin-left: 30px" class="mt-2">
            1.
            https://hot.liputan6.com/read/4874889/pengertian-koloid-sifat-sifat-jenis-dan-contohnya-yang-perlu-diketahui
            <br />
            2.
            https://www.quipper.com/id/blog/mapel/kimia/materi-koloid-kimia-kelas-11/#Pengertian_Koloid
            <br />
            3.
            http://staffnew.uny.ac.id/upload/198001032009122001/pendidikan/sistem-koloid.pdf
            <br />
            <br />
        </div>

        <!-- JavaScript Bootstrap -->
        <script src="../assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
