<!-- Aulia Pradina, 1IA26, 50421237 -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS Bootstrap -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />

        <!-- My CSS -->
        <link rel="stylesheet" href="../assets/css/style.css" />
        <title>Pengertian & Ciri-Ciri Koloid</title>
    </head>
    <body>
        <!-- Background Color -->
        <div class="bg-color">
            <div class="container">
                <!-- Pengertian Koloid -->
                <div class="row row-cols-auto">
                    <img
                        class="col icon-size"
                        src="../assets/img/icon/flask.png"
                    />
                    <div class="col title-big">Pengertian Koloid</div>
                </div>
                <ul class="list-group mt-3">
                    <li
                        class="list-group-item"
                        style="
                            font-size: 18pt;
                            border-radius: 15pt;
                            font-weight: 350;
                        "
                    >
                        Koloid adalah campuran fase peralihan Homogen menjadi
                        Heterogen.
                        <br />
                        Terdiri dari 2 fase, yaitu Fase Pendispersi (Pelarut)
                        dan Fase Terdispersi (Terlarut).
                    </li>
                </ul>
                <!-- Fase Pendispersi (Pelarut) & Terdispersi (Terlarut) dengan Horizontal Collapse -->
                <p class="mt-4">
                    <button
                        class="btn btn-primary"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample1"
                        aria-controls="collapseWidthExample1"
                    >
                        Fase Pendispersi (Pelarut)
                    </button>
                    <button
                        class="btn btn-primary"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample2"
                        aria-controls="collapseWidthExample2"
                        style="margin-left: 200px"
                    >
                        Fase Terdispersi (Terlarut)
                    </button>
                </p>
                <div
                    class="collapse collapse-horizontal"
                    id="collapseWidthExample1"
                >
                    <div
                        class="card card-body"
                        style="
                            width: 300px;
                            color: #534d4d;
                            border-radius: 15pt;
                            border-color: #1f82a5;
                        "
                    >
                        Zat yang menyebabkan terjadinya penyebaran secara merata
                    </div>
                </div>
                <div
                    class="collapse collapse-horizontal"
                    id="collapseWidthExample2"
                    style="margin-left: 420px; margin-top: -83px"
                >
                    <div
                        class="card card-body"
                        style="
                            width: 300px;
                            color: #534d4d;
                            border-radius: 15pt;
                            border-color: #1f82a5;
                        "
                    >
                        Zat yang mengalami penyebaran secara merata dalam suatu
                        zat lain
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Ciri-Ciri Koloid -->
                <div class="row row-cols-auto">
                    <img
                        class="col icon-size"
                        src="../assets/img/icon/list (2).png"
                    />
                    <div class="col title-big">Ciri-Ciri Koloid</div>
                </div>
                <!-- List Ciri-Ciri Koloid -->
                <ul class="list-group mt-3" style="max-width: 800px">
                    <li
                        class="list-group-item"
                        style="
                            font-size: 12pt;
                            border-top-left-radius: 15pt;
                            border-top-right-radius: 15pt;
                            font-weight: 350;
                        "
                    >
                        Bersifat Homogen secara makroskopis, namun bersifat
                        Heterogen jika dilihat dengan Mikroskop Ultra
                    </li>
                    <li
                        class="list-group-item"
                        style="font-size: 12pt; font-weight: 350"
                    >
                        Stabil dan tidak mudah dipisahkan
                    </li>
                    <li
                        class="list-group-item"
                        style="font-size: 12pt; font-weight: 350"
                    >
                        Ukuran partikelnya berkisar antara 1-100 nm
                    </li>
                    <li
                        class="list-group-item"
                        style="font-size: 12pt; font-weight: 350"
                    >
                        Dapat disaring menggunakan penyaring ultra
                    </li>
                    <li
                        class="list-group-item"
                        style="
                            font-size: 12pt;
                            border-end-start-radius: 15pt;
                            border-end-end-radius: 15pt;
                            font-weight: 350;
                        "
                    >
                        Tampilannya keruh hingga jernih
                    </li>
                </ul>
                <img
                    src="../assets/img/icon/chemistry.png"
                    style="height: 90px; margin-top: -80px"
                    class="float-end"
                />
            </div>
            <!-- Navigation Button -->
            <div class="container mt-4">
                <!-- Kembali ke Beranda -->
                <a
                    class="btn btn-primary mt-3"
                    href="../../index.html"
                    style="margin-right: 10px"
                    role="button"
                >
                    <img
                        src="../assets/img/icon/home (1).png"
                        style="height: 40px"
                    />
                </a>
                <!-- ke halaman Jenis-Jenis Koloid -->
                <a
                    class="btn btn-primary mt-3 float-end"
                    href="../views/jenis-jenis.html"
                    style="margin-right: 10px"
                    role="button"
                >
                    Jenis-Jenis Koloid >
                </a>
            </div>
            <br />
        </div>
        <!-- Sumber -->
        <div
            class="btn btn-primary mt-3"
            data-bs-toggle="collapse"
            data-bs-target="#collapseWidthExample3"
            aria-controls="collapseWidthExample3"
            style="font-weight: 300; margin-left: 30px; cursor: default"
        >
            Sumber
        </div>
        <div style="color: #534d4d; margin-left: 30px" class="mt-2">
            1. https://www.ruangguru.com/blog/mengenal-sistem-koloid
            <br />
            2. https://id.wikipedia.org/wiki/Sistem_koloid
            <br />
            3.
            http://staffnew.uny.ac.id/upload/198001032009122001/pendidikan/sistem-koloid.pdf
            <br />
            <br />
        </div>

        <!-- JavaScript Bootstrap -->
        <script src="../assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
