<!-- Aulia Pradina, 1IA26, 50421237 -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS Bootstrap -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />

        <!-- My CSS -->
        <link rel="stylesheet" href="../assets/css/style.css" />
        <title>Sifat-Sifat & Manfaat Koloid</title>
    </head>
    <body>
        <!-- Background Color -->
        <div class="bg-color">
            <div class="container">
                <!-- Sifat-Sifat Koloid -->
                <div class="row row-cols-auto">
                    <img
                        class="col icon-size"
                        src="../assets/img/icon/chemistry (3).png"
                    />
                    <div class="col title-big">Sifat-Sifat Koloid</div>
                </div>
                <br />
                <!-- Table Sifat-Sifat Koloid -->
                <table
                    class="table table-hover table-bordered table-responsive"
                >
                    <thead>
                        <tr>
                            <th scope="col">Sifat Koloid</th>
                            <th scope="col">Penjelasan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">Efek Tyndall</td>
                            <td>
                                Gejala
                                <b>penghamburan berkas sinar (cahaya)</b> oleh
                                partikel-partikel koloid yang disebabkan oleh
                                ukuran molekul koloid yang cukup besar.
                                Ditemukan oleh John Tyndall (1820 - 1893).
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Gerak Brown</td>
                            <td>
                                <b>Pergerakan partikel koloid secara acak</b>
                                yang hanya dapat diamati melalui mikroskop
                                ultra. Pergerakan partikel menghasilkan tumbukan
                                yang berlangsung dari segala arah.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Adsorpsi</td>
                            <td>
                                Peristiwa
                                <b
                                    >penyerapan partikel / ion oleh partikel
                                    koloid</b
                                >
                                yang disebabkan oleh luasnya permukaan partikel
                                koloid, dan ion akan menempel ke permukaan, baik
                                ion positif maupun negatif.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                Koloid Liofil dan Liofob
                            </td>
                            <td>
                                Kedua jenis koloid tersebut dapat ditemukan
                                didalam sol. <b>Liofil</b> merupakan partikel
                                dengan Zat Terdispersi yang dapat
                                <b>menarik mediumnya</b>, sedangkan
                                <b>Liofob</b> dengan Zat Terdispersi yang
                                <b>tidak dapat menarik mediumnya</b>.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Koagulasi Koloid</td>
                            <td>
                                <b>Penggumpalan partikel koloid</b> karena
                                mengandung muatan yang dinetralkan sehingga
                                terjadi endapan. Muatannya telah dinetralkan dan
                                tidak lagi saling tarik-menarik.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Koloid Pelindung</td>
                            <td>
                                Menggunakan Sol liofil, <b>sol liofil</b> dapat
                                <b>digunakan sebagai pelindung</b> dari sol
                                liofob dari proses koagulasi.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Dialisis</td>
                            <td>
                                <b>Pemisahan / pemurnian koloid</b> dari ion-ion
                                penggannggu dengan mengalirkan cairan yang
                                tercampur koloid melalui membran semipermeabel
                                yang berfungsi sebagai penyaring.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Elektroforesis</td>
                            <td>
                                Peristiwa <b>pemisahan partikel koloid</b> yang
                                bermuatan menggunakan arus listrik.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <!-- Manfaat Koloid -->
                <div class="row row-cols-auto">
                    <img
                        class="col icon-size"
                        src="../assets/img/icon/idea (1).png"
                    />
                    <div class="col title-big">Manfaat Koloid</div>
                </div>
                <br />
                <!-- List Manfaat Koloid -->
                <ul class="list-group" style="margin-top: -5px">
                    <li
                        class="list-group-item"
                        style="
                            font-size: 12pt;
                            border-top-left-radius: 15pt;
                            border-top-right-radius: 15pt;
                            font-weight: 350;
                        "
                    >
                        Dapat menjernihkan air
                    </li>
                    <li
                        class="list-group-item"
                        style="font-size: 12pt; font-weight: 350"
                    >
                        Menyerap racun
                    </li>
                    <li
                        class="list-group-item"
                        style="font-size: 12pt; font-weight: 350"
                    >
                        Dalam industri kosmetik, koloid berguna sebagai pelarut
                        dalam produk-produk kosmetik
                    </li>
                    <li
                        class="list-group-item"
                        style="font-size: 12pt; font-weight: 350"
                    >
                        Sifat Elektroforesis dapat digunakan untuk
                        mengidentifikasi DNA
                    </li>
                    <li
                        class="list-group-item"
                        style="font-size: 12pt; font-weight: 350"
                    >
                        Dapat menggumpalkan darah
                    </li>
                    <li
                        class="list-group-item"
                        style="font-size: 12pt; font-weight: 350"
                    >
                        Untuk memutihkan gula tebu
                    </li>
                    <li
                        class="list-group-item"
                        style="
                            font-size: 12pt;
                            border-end-start-radius: 15pt;
                            border-end-end-radius: 15pt;
                            font-weight: 350;
                        "
                    >
                        Dalam industri farmasi, koloid digunakan dalam bentuk
                        sol untuk membuat obat-obatan
                    </li>
                </ul>
                <!-- Navigation Button -->
                <div class="container mt-4">
                    <!-- ke halaman Jenis-Jenis Koloid -->
                    <a
                        class="btn btn-primary"
                        href="../views/jenis-jenis.html"
                        style="margin-right: 10px"
                        role="button"
                    >
                        < Jenis-Jenis Koloid
                    </a>
                    <!-- Dekorasi Gambar: Koloid -->
                    <img
                        src="../assets/img/icon/colloid.png"
                        style="height: 90px"
                    />
                    <!-- ke halaman Cara Pembuatan Koloid -->
                    <a
                        class="btn btn-primary mt-4 float-end"
                        href="../views/pembuatan.html"
                        style="margin-right: 10px"
                        role="button"
                    >
                        Cara Pembuatan Koloid >
                    </a>
                    <!-- Dekorasi Gambar: Kapsul Obat -->
                    <img
                        src="../assets/img/icon/pills.png"
                        style="height: 90px; margin-right: 20px"
                        class="float-end"
                    />
                </div>
                <!-- Kembali ke Beranda -->
                <div class="container text-center">
                    <a
                        class="btn btn-primary"
                        href="../../index.html"
                        style="margin-right: 10px"
                        role="button"
                    >
                        <img
                            src="../assets/img/icon/home (1).png"
                            style="height: 40px"
                        />
                    </a>
                </div>
                <br />
            </div>
        </div>
        <!-- Sumber -->
        <div
            class="btn btn-primary mt-3"
            data-bs-toggle="collapse"
            data-bs-target="#collapseWidthExample3"
            aria-controls="collapseWidthExample3"
            style="font-weight: 300; margin-left: 30px; cursor: default"
        >
            Sumber
        </div>
        <div style="color: #534d4d; margin-left: 30px" class="mt-2">
            1. https://id.wikipedia.org/wiki/Sistem_koloid
            <br />
            2.
            https://www.detik.com/edu/detikpedia/d-5510891/koloid-definisi-jenis-dan-sifatnya
            <br />
            3.
            https://www.merdeka.com/jatim/8-jenis-jenis-koloid-dan-sifatnya-yang-dapat-dipelajari-menambah-wawasan-kln.html
            <br />
            4.
            https://www.quipper.com/id/blog/mapel/kimia/materi-koloid-kimia-kelas-11/#Pengertian_Koloid
            <br />
            <br />
        </div>

        <!-- JavaScript Bootstrap -->
        <script src="../assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
